.App {
  max-width: 600px;
  margin: 50px auto;
}

.App footer {
  text-align: center;
  font-size: 10px;
  margin: 10px 0;
}

.App a {
  color: #092238;
  text-decoration: none;
}

.App a:hover {
  color: #147e70;
}
