body {
  background-color: #cfe9ee;
  font-family: "Montserrat", sans-serif;
}

.Weather {
  border: 1px solid #b9ddd9;
  background-color: #d9edf1;
  padding: 20px;
  margin: 100px auto 30px;
  border-radius: 10px;
  color: rgba(135, 135, 135, 0.808);
  box-shadow: -3px 1px 31px -2px rgba(138, 136, 136, 0.61);
}

.Weather form {
  margin: 20px 0;
}

.form-control {
  border-radius: 40px;
  max-width: 100%;
  border: none;
  background-color: #eaf1f1;
  color: rgb(151, 160, 160);
}

.btn-info {
  border-radius: 40px;
  width: 100%;
  background-color: transparent;
  border: 1px solid #c3e9e4;
  color: #092238;
  font-size: 14px;
  padding: 8px;
  transition: all 220ms ease-in-out;
}

.btn-info:hover {
  background-color: #85ccc3;
  border: 1px solid #c3e9e4;
  color: white;
  padding: 8px;
}

.Weather h1 {
  color: #092238;
  margin: 20px 0 0 0;
  font-size: 35px;
  font-weight: 500;
  line-height: 1.5;
}

p {
  font-size: 14px;
  font-weight: 300;
  line-height: 19px;
  color: #092238;
}

.todaysWeather {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

ul {
  margin-top: 5px;
}

.Weather li {
  font-size: 14px;
  font-weight: 300;
  line-height: 19px;
  list-style: none;
  color: #092238;
}

.Weather canvas {
  display: inline-block;
}

.temperature {
  font-size: 68px;
  font-weight: 300;
  color: #092238;
  margin-top: 20px;
}

.Weather .unit {
  font-size: 24px;
  color: #092238;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -60px;
  right: -78px;
}

@media (max-width: 600px) {
  .Weather .todaysWeather {
    flex-direction: column;
  }

  .Weather h1 {
    font-size: 25px;
  }
  .Weather li,
  p {
    font-size: 12px;
  }
  .temperature {
    font-size: 46px;
    margin-top: 20px;
  }

  .Weather .unit {
    font-size: 18px;
    top: -52px;
    right: -60px;
  }

  .Weather canvas {
    width: 50px;
  }

  .btn-info {
    font-size: 11px;
  }
}
