.WeatherForecast {
  text-align: center;
  color: #092238;
  border-top: 2px solid #d3dddcda;
  margin: 25px 0;
}

.forecastTemp {
  font-size: 13px;
  margin-top: 10px;
}

.forecastTempMin {
  opacity: 0.7;
  margin-left: 5px;
}

.forecastDay {
  margin-top: 35px;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
}
